node_modules/
.env

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Postman
!Microservices_Lab.postman_collection.json
